.header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8EAED;
    transition: .5s;

    @media (min-width: $big) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__logo {
        width: 64px;
        height: 64px;
        cursor: pointer;
        background-color: $secondary-color;
        
        @media (min-width: $big) {
            display: none;
        }
    }

    .header__nav-list {
        display: none;
        height: 0;
        transition: .25s;
        height: 0;

        @media (min-width: $big) {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .header__logo {
                display: inline-block;
                width: 56px;
                height: 56px;
                cursor: pointer;
                background-color: $secondary-color;
            }

            a {
                font-family: 'TT Norms Bold';
                font-size: 15px;
                text-decoration: none;
                color: $main-color;
                transition: .25s;

                &:hover {
                    opacity: .5;
                    transition: .25s;
                }
            }
            
            a:not(:last-child) {
                margin-right: 50px;
            }
        }

        &.is-active {
            transition: .25s;
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 10;
            background-color: #FFFFFF;
            position: fixed;
            top: 95px;
            left: 0;
            padding-left: 15px;
            height: auto;

            a {
                font-family: 'TT Norms Bold';
                color: $main-color;
                padding: 15px 0;
                text-decoration: none;

                &:hover {
                    opacity: .5;
                }
            }

            a:nth-child(4) {
                display: none;
            }
        }
    }

    .header__nav {
        @media (min-width: $big) {
            width: 100%;
        }
    }

    .header__nav-btn,
    .header__profile {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background-image: url("../img/nav.png");
        background-repeat: no-repeat;
        background-position: center center;

        @media (min-width: $big) {
            display: none;
        }
    }

    .header__profile {
        background-image: url("../img/profile.png");
    }
    
    .header-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #0000003b;
        z-index: 1;
        overflow: hidden;
        display: none;
        left: 0;
        top: 95px;
    }

}